{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/home.css') }}">
{% endblock head %}
{% block content %}
    
<div class="container container-home">

    <div class="row">

        <div class="container-form text-center">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend>Generate Certificates</legend>
                    <hr class="white">
                    <br>
                    {{ form.roll_num(class="form-control",placeholder="Roll Number") }}<br>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-secondary")}}
                    </div>
                </fieldset>
            </form>
        </div>    

        <div class="container-form text-center">
            <legend>Manual Generation</legend>
            <hr class="white">    
            <a type="button" href="{{ url_for('manual_generate') }}" class="btn btn-secondary">Generate</a>
            <br>
            <br>
        </div>
    </div>

    <br>
    <br>

    <div class="container-file text-center">
            <form method="POST" action="" enctype="multipart/form-data">
                {{ form2.hidden_tag() }}
                <fieldset class="form-group">
                    <h4 class="card-title">Upload File</h4>
                    {{ form2.uploaded_file(class="form-control colour",placeholder="Upload File") }}<br>
                    <div class="form-group">
                        {{ form2.submit(class="btn btn-dark")}}
                    </div>
                </fieldset>
            </form>    
        
    </div>

</div>

{% endblock content %}