<!-- extending the primary layout of page from layout.html -->
{% extends "layout.html" %}  

<!-- running the following code in content block of layout.html -->
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/login.css') }}">
    <script type="text/javascript">
        var toastTrigger = document.getElementById('liveToastBtn')
        var toastLiveExample = document.getElementById('liveToast')
        if (toastTrigger) {
        toastTrigger.addEventListener('click', function () {
            var toast = new bootstrap.Toast(toastLiveExample)

            toast.show()
        })
        }
        
    </script>
{% endblock head %}
<!-- content block starts -->
{% block content %}
<br>
    <div class="container-cont">
        <img src="../static/images/VJIT.jpg" alt="">   
        <h2 class="centered">CERTIFICATE GENERATOR</h2>
    </div>
    <div class="container-login text-center">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend>Login</legend>
                <hr class="white">
                <br>
                <div class="form-group">
                    {% if form.email.errors %}
                        {{ form.email(class="form-control is-invalid",placeholder="Email") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control",placeholder="Email") }}
                    {% endif %}
                </div>
            
                <!-- password input -->
                <div class="form-group">
                    {% if form.password.errors %}
                        {{ form.password(class="form-control is-invalid",placeholder="Password") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control",placeholder="password") }}
                    {% endif %}
                </div>
            </fieldset>

            <div class="form-group">
                {{ form.submit(class="btn btn-secondary")}}
            </div> 
            

        </form>
    </div>
    
    <div id="mybutton">
        <div class="con">
      
            <!-- Left tooltip -->
          <div class="con-tooltip top">
            <p>Developed By</p>
            <div class="tooltip ">
              <p>Thejus varma and Sapan Raj Mathur</p>
            </div>
      
        </div>
    </div>

    
  
{% endblock content %}