<!-- extending the primary layout of page from layout.html -->
{% extends "layout.html" %}  

<!-- running the following code in content block of layout.html -->
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/manual_cert.css') }}">
{% endblock head %}
{% block content %}
    <div class="container-form ">
        <form method="POST" action="" target="_blank">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="text-center">Student Details for TC</legend>
                <hr class="white">
                <br>
                <div class="row">     
                    <div class="col">
                        <!-- admission_number -->
                        <div class="form-group">
                            {% if form.admission_number.errors %}
                            {{ form.admission_number.label(class="form-group-label") }}
                            {{ form.admission_number(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.admission_number.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.admission_number.label(class="form-group-label") }}
                            {{ form.admission_number(class="form-control") }}
                            {% endif %}
                        </div>
                    </div>
                        <!-- rollnumber -->
                    <div class="col">
                    <div class="form-group">
                        {% if form.roll_num.errors %}
                        {{ form.roll_num.label(class="form-group-label") }}
                        {{ form.roll_num(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.roll_num.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.roll_num.label(class="form-group-label") }}
                        {{ form.roll_num(class="form-control") }}
                        {% endif %}
                    </div>
                    </div>
                </div>

                <!-- student name -->
                <div class="form-group">    
                    {% if form.student_name.errors %}
                    {{ form.student_name.label(class="form-group-label") }}
                    {{ form.student_name(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.student_name.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.student_name.label(class="form-group-label") }}
                    {{ form.student_name(class="form-control") }}
                    {% endif %}
                </div>

                <!-- father's name -->
                <div class="form-group">
                    {% if form.father_name.errors %}
                    {{ form.father_name.label(class="form-group-label") }}
                        {{ form.father_name(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.father_name.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.father_name.label(class="form-group-label") }}
                        {{ form.father_name(class="form-control") }}
                        {% endif %}
                </div>


                <div class="row">
                    <div class="col">
                    <!-- dob -->
                    <div class="form-group">
                        {% if form.date_of_birth.errors %}
                        {{ form.date_of_birth.label(class="form-group-label") }}
                        {{ form.date_of_birth(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.date_of_birth.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.date_of_birth.label(class="form-group-label") }}
                        {{ form.date_of_birth(class="form-control",placeholder="DD-MM-YYYY") }}
                        {% endif %}
                    </div>
                    </div>

                    <div class="col">
                    <!-- Date of Admission -->
                    <div class="form-group">
                        {% if form.date_of_admission.errors %}
                        {{ form.date_of_admission.label(class="form-group-label") }}
                        {{ form.date_of_admission(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.date_of_admission.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.date_of_admission.label(class="form-group-label") }}
                            {{ form.date_of_admission(class="form-control",placeholder="DD-MM-YYYY") }}
                            {% endif %}
                    </div>
                    </div>
                </div>                 

                 <!-- name of course and branch -->
                 <div class="form-group">
                    {% if form.Name_of_course_and_branch.errors %}
                        {{ form.Name_of_course_and_branch.label(class="form-group-label") }}
                        {{ form.Name_of_course_and_branch(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.Name_of_course_and_branch.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Name_of_course_and_branch.label(class="form-group-label") }}
                        {{ form.Name_of_course_and_branch(class="form-control") }}
                    {% endif %}
                </div>
                
                <div class="row">
                    <div class="col">
                <!-- community -->
                    <div class="form-group">
                        {% if form.community.errors %}
                        {{ form.community.label(class="form-group-label") }}
                            {{ form.community(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.community.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.community.label(class="form-group-label") }}
                            {{ form.community(class="form-control") }}
                        {% endif %}
                    </div>
                    </div>
                    <div class="col">
                    <!-- conduct -->
                    <div class="form-group">
                        {{ form.conduct.label(class="form-group-label") }}
                        {{ form.conduct(class="form-control") }}
                    </div>
                    </div>
                </div>
            
                <!-- Promotion -->
                <div class="form-group" style="color: white;">
                        {{ form.promotion.label(class="form-group-label") }}
                        {{ form.promotion() }}
                </div>

                <!-- identification -->
                <div class="form-group">
                    {{ form.identification.label(class="form-group-label") }}
                    {{ form.identification(class="form-control") }}
                </div>

                 <!-- identification_1-->
                 <div class="form-group">
                    {{ form.identification_1.label(class="form-group-label") }}
                    {{ form.identification_1(class="form-control") }}
                </div>

                <!-- general_remarks -->
                <div class="form-group">
                    {{ form.general_remarks.label(class="form-group-label") }}
                    {{ form.general_remarks(class="form-control") }}
                </div>
            </fieldset>
            <div class="form-group text-center">
                {{ form.submit(class="btn btn-secondary")}}
            </div> 
        </form>
    </div>
  
{% endblock content %}