

.container-table{
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    width:40%;
}

.table-heading{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-decoration: underline;

}
.table-dark
{
    /* color: black; */
    background: linear-gradient(40deg, #666f70, #024b52);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
}