.container-login{
  width: 45%;
  height: 50%;
  background: linear-gradient(30deg, #54c0c0, #024b52);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.5);    margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 42px;
  padding-bottom: 18px;
  border-radius: 5px;
}
.clg-img{
  opacity: 0.3;
  background-size:contain;
  border-radius: 5px;
}
.container-cont {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h2{
  font-family: sans-serif;
  font-weight: 500;
  color: black;
}

h2::before {  
  transform: scaleX(0);
  border-radius: 5px;
  margin-left: -5%;
  margin-top: -1%;
  margin-bottom: -1%;
  margin-right: -5%;
  transform-origin: bottom right;
}

h2:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

h2::before {
  content: " ";
  display: block;
  position: absolute;
  top: 10; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: linear-gradient(40deg, #fcfcfc, #fcf9ef);
  opacity: 0.3;
  z-index: -1;
  transition: transform .3s ease;
}

@media (orientation: landscape) {
  body {
    grid-auto-flow: column;
  }
}


hr.white {
    border-top: 1px solid whitesmoke;
    box-shadow: 0 4px 7px #d1b44d;    margin-left: auto;
}

fieldset.border-bottom{
    border-color: black;
}

legend{
  color: #d1b44d;
  margin-bottom: -3px;
  font-weight: 500;
  font-size: 40px;
}

.btn-secondary{
  background: linear-gradient(40deg, #bea443, #856d17);
  width: 20%;
  border:none;
  border-radius: 4px;
}
.btn-secondary:hover{
  background: linear-gradient(40deg, #856d17, #bea443);

}


.circular{
  height: 70%;
}

.dev-button {
  position: fixed;
  bottom: -4px;
  right: 30px;
  padding: -10px;
  background: rgb(197, 196, 196);
  color: black;
  border: none;
  padding: 20px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  cursor: default;
  border-radius: 4px;
}

/*hover ToolTip*/
.dev-button:hover {transform: translateY(-5px);  }

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 30px auto;
  width: 220px;
  height: 220px;
  border-radius: 40px;
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.25);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 30px 30px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-top: -50px;
  color: white;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}
